[Unit]
Description="Apache Superset"
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/superset
User=superset
Type=simple
ExecStart=/usr/bin/bash -c 'source {{stack_root}}/superset/venv/bin/activate ; superset runserver'
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target