---
all:
  hosts:
  
  children:
    appl_master:
      hosts:
        
    namenode:
      hosts:
    
    datanode:
      hosts:

    resourcemanager:
      hosts:

    journalnode:
      hosts:

    historyserver:
      hosts:

    zookeeper:
      hosts:

    kafka:
      hosts:

    mariadb:
      hosts:

    airflow:
      hosts:

    hadoop:
      children:
        namenode:
        datanode:
        resourcemanager:
        journalnode:
        historyserver: