IMPALA_HOME=/usr/bdp/impala
JAVA_HOME=/usr/lib/jvm/java
CLASSPATH=/usr/bdp/impala/lib/*:/usr/bdp/hive/lib/*:/usr/bdp/impala/conf:/usr/bdp/hadoop/etc/hadoop
HADOOP_HOME=/usr/bdp/hadoop
HIVE_HOME=/usr/bdp/hive
HIVE_CONF=/usr/bdp/hive/conf
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:<HADOOP_HOME>/bin
LD_LIBRARY_PATH=/usr/bdp/impala/lib64:/usr/bdp/impala/lib64/lib:/usr/lib/jvm/java/jre/lib/amd64:/usr/lib/jvm/java/jre/lib/amd64/server/
