--abort_on_config_error=false
--log_dir=/var/log/impala
--state_store_host={{ master_hostname }}
--catalog_service_host={{ master_hostname }}
--admission_service_host={{ master_hostname }}
--enable_legacy_avx_support=true
--load_auth_to_local_rule=false
