[Unit]
Description=Apache Impala Daemon
Documentation=http://impala.apache.org
[Service]
EnvironmentFile={{ stack_root }}/impala/conf/impala.env
ExecStart={{ stack_root }}/impala/sbin/impalad --flagfile={{ stack_root }}/impala/conf/impalad.gflagfile
TimeoutStopSec=5
Restart=on-failure
User=impala
[Install]
WantedBy=multi-user.target
