export ZOOKEEPER_HOME={{ stack_root }}/zookeeper
export ZOO_LOG_DIR={{ zookeeper_log_dir }}
export ZOOPIDFILE={{ zookeeper_run_dir }}/zookeeper_server.pid
export SERVER_JVMFLAGS=-Xmx1024m
export JAVA=$JAVA_HOME/bin/java