[Unit]
Description=MapReduce History Server Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
PIDFile={{ hadoop_run_dir }}/mapred/hadoop-mapred-historyserver.pid
User=mapred
ExecStart={{ stack_root }}/hadoop/bin/mapred --daemon start historyserver
ExecStop={{ stack_root }}/hadoop/bin/mapred --daemon stop historyserver
Restart=no
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target