[Unit]
Description=Namenode Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
PIDFile={{ hadoop_run_dir }}/hdfs/hadoop-hdfs-namenode.pid
User=hdfs
ExecStart={{ stack_root }}/hadoop/bin/hdfs --daemon start namenode
ExecStop={{ stack_root }}/hadoop/bin/hdfs --daemon stop namenode
Restart=no
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target