[Unit]
Description=TimelineServer Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
PIDFile={{ hadoop_run_dir }}/yarn/hadoop-yarn-timelineserver.pid
User=yarn
ExecStart={{ stack_root }}/hadoop/bin/yarn --daemon start timelineserver
ExecStop={{ stack_root }}/hadoop/bin/yarn --daemon stop timelineserver
Restart=no
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
