# Tez specific configuration
export TEZ_CONF_DIR={{ stack_root }}/tez/conf

# Set HADOOP_HOME to point to a specific hadoop install directory
export HADOOP_HOME=${HADOOP_HOME:-{{ stack_root }}/hadoop}

# The java implementation to use.
export JAVA_HOME={{ java_home }}