[Unit]
Description=Zeppelin
After=syslog.target network.target

[Service]
User=zeppelin
Type=forking
PermissionsStartOnly=true
Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-11.0.22.0.7-2.el8.x86_64
ExecStartPre=-/bin/mkdir -p {{ zeppelin_run_dir }} ; /usr/bin/chown -R zeppelin:hadoop {{ zeppelin_run_dir }}
ExecStart=/bin/sh -c '{{ stack_root }}/zeppelin/bin/zeppelin-daemon.sh start'
ExecStop=/usr/bin/kill -TERM $MAINPID
WorkingDirectory={{ stack_root }}/zeppelin/bin/
Restart=always
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target